<body>
<ng-container>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 m-4">
        <h1 class="text-center">{{title}}</h1>
      </div>
    </div>
    <div class="row">
      <nav class="col-sm-4" style="background-color: aliceblue">
        <h3>Movie Lists</h3>
        <div *ngIf="count > 0">
          <ul>
            <li *ngFor="let list of objectKeys(mockLists)" (click)="showList(list)">
              {{list}} - {{mockLists[list].length}} movies ({{averageRating(list) | number:0}} stars)
            </li>
          </ul>
        </div>
        <div *ngIf="count == 0">
          Currently no lists
        </div>
        <button (click)="createList()">Create a list</button>
      </nav>
      <main class="col-sm-8">
        <input type="text" placeholder="Search IMDB"/>
        <div *ngIf="selectedList && !isCreateList">
          <h3>{{selectedList}}</h3>
          <div *ngFor="let selected of mockLists[selectedList]">
            <h5>Title: {{selected.name}}</h5>
            <h5>Rating: {{selected.rating}}</h5>
          </div>
        </div>

        <div *ngIf="isCreateList">
          <input type="text" placeholder="List Title" />
          <label>Rating (1-5):</label> <input type="number" min="1" max="5" />
        </div>
      </main>
    </div>
  </div>
</ng-container>
</body>

